# Ignore the config.js file.
config.js

#Ignore extra-files
/Earthquakes_past7days
/Mapping_GeoJSON_linestrings
/Mapping_GeoJSON_points
/Mapping_GeoJSON_polygons
/Mapping_lines
/Mapping_multiple_points
/Mapping_single_points
/Simple_map
